@{
    ViewData["Title"] = "To Do List";
}

@model List<ToDoResponse>
@*<table class="table table-bordered table-striped">

        <thead class="bold">
            <tr>
                <td>Task</td>
                <td>DueDate</td>
                <td>Quadrant</td>
                <td>Completed</td>
                <td>Category</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Task</td>
                    <td>@x.DueDate</td>
                    <td>@x.Quadrant</td>
                    <td>@x.Completed</td>
                    <td>@x.Category.CategoryName</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.TaskID">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.TaskID">Delete</a></td>
                </tr>
            }
        </tbody>

    </table>*@

<div class="container">
    <div class="row">
        <div class="col">
            Blah
        </div>
        <div class="col">
            Yaddah
        </div>
        <div class="col">
            Hello
        </div>
    </div>
</div>