@{
    ViewData["Title"] = "To Do List";
}

@model List<ToDoResponse>
@*<table class="table table-bordered table-striped">

        <thead class="bold">
            <tr>
                <td>Task</td>
                <td>DueDate</td>
                <td>Quadrant</td>
                <td>Completed</td>
                <td>Category</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Task</td>
                    <td>@x.DueDate</td>
                    <td>@x.Quadrant</td>
                    <td>@x.Completed</td>
                    <td>@x.Category.CategoryName</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.TaskID">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.TaskID">Delete</a></td>
                </tr>
            }
        </tbody>

    </table>*@

<h1>@ViewData["Title"]</h1>
<br />

@*<div class="container border">
        <div class="row border">
            <div class="col-3 border ">
                :)
            </div>
            <div class="col border">
                URGENT
            </div>
            <div class="col border">
                NOT URGENT
            </div>
        </div>
        <div class="row border">
            <div class="col-3 border">
                IMPORTANT
            </div>
            <div class="col border">
                Quad 1: Blah
            </div>
            <div class="col border">
                Quad 2: Yaddah
            </div>
        </div>
        <div class="row border">
            <div class="col-3">
                NOT IMPORTANT
            </div>
            <div class="col border">
                Quad 3: Hello
            </div>
            <div class="col border">
                Quad 4: Your Mom
            </div>
        </div>
    </div>*@


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="thead-dark"> :) </th>
            <th scope="col">Urgent</th>
            <th scope="col">Not Urgent</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        { 
        <tr>
            <th scope="row" class="thead-dark">Important</th>
            <td>Quad 1</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></td>

            

            <td>Quad 2</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></td>
        </tr>
        <tr>
            <th scope="row" class="thead-dark">Not Important</th>
            <td>Quad 3</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></td>
            <td>Quad 4</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></td>
        </tr>
        }
    </tbody>
</table>